body {
    margin: 0;
    padding: 0;
    background: #df0031;
}
h2 {

    color: #ffffff;
}

label[for] {
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}
.wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 900px;
    background: #333;
}
.lightbox {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transition: transform .5s ease-out;
    -webkit-transition: -webkit-transform .5s ease-out;
}
.lightbox img {
    position: absolute;
    top: 50%;
    left: 450px;
    width: 600px;
    height: 800px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
input[type="checkbox"]:checked + .lightbox {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
}
input[type="checkbox"]:checked ~ .frame {
    opacity: .150;
}
.frame {
    z-index: 0;
    margin: 0 auto;
    overflow: auto;
    height: 100%;
    padding: 15px;
    background-color: #222;
    text-align: center;
    transition: opacity .70s;
    -webkit-transition: opacity .70s;
}
.item {
    display: inline-block;
    width: 25%;
    padding: 15px;
    opacity: .70;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
}
.item:hover {
    opacity: 1;
}
.frame img {
    width: 80%;
    height: 80%;
}
